*{
  scroll-behavior: smooth;
}
body{
  /*background-image: url("../images/picha.jpg");*/
  background-color: violet;
  /*background-repeat:no-repeat;
  background-size: cover;*/
}
nav{

}
nav ul{
  display: flex;
  justify-content: flex-end;

}
li{
  margin-right: 20px;
  list-style: none;

}
#aboutme{
  height: 500px;

}
#home{
  height: 600px;

}

#projects{
  height: 400px;
}
#contact{
  height: 400px;
}
